<nav class="bg-light mb-3">
  <a href="@{HomeR}">Home</a> / <a href="@{ForumR fid}">#{ fdTitle forum }</a> /
  <a href="@{TopicR tid}">#{ tdSubject topic }</a>
</nav>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">#{ pdMessage post }</h3>
  </div>
  <div class="panel-footer">
    <p>
      <span class="small">Enviat: ^{ dateWidget (pdPosted post) }</span>
    </p>
  </div>
</div>

$if{ isJust mbuser }
<div class="row">
  <div class="col-sm-12 mt-3">
    <form role="form" method="POST" action="@{PostR2 pid}">
      ^{pformw}
      <button type="submit" class="btn btn-success">Editar post</button>
    </form>
  </div>
  <div class="col-sm-12 mt-3">
    <form role="form" method="POST" action="@{PostR3 pid}">
      <button type="submit" class="btn btn-danger">Eliminar post</button>
    </form>
  </div>
</div>
$end
