<!-- html view of a topic -->
{% extends "base.html" %} {% block title %}{{ topic.title }}{% endblock %} {%
block content %}
<h1>{{ topic.title }}</h1>
<p>{{ topic.content }}</p>
<p>Posted by {{ topic.user.username }} on {{ topic.created }}</p>
<h2>Comments</h2>
{% for comment in topic.comments.all %}
<p>{{ comment.content }}</p>
<p>Posted by {{ comment.user.username }} on {{ comment.created }}</p>
{% endfor %}
<h2>Add a comment</h2>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" value="Add comment" />
</form>
{% endblock %} ```
